<div class="row-actions">
  <button
    mat-icon-button
    class="action-btn add-action"
    type="button"
    [disabled]="disabled"
    matTooltip="Add row"
    matTooltipPosition="above"
    (click)="onAdd()"
  >
    <mat-icon>add_circle</mat-icon>
  </button>

  <button
    *ngIf="showRemove"
    mat-icon-button
    class="action-btn remove-action"
    type="button"
    [disabled]="disabled"
    matTooltip="Remove row"
    matTooltipPosition="above"
    (click)="onRemove()"
  >
    <mat-icon>remove_circle</mat-icon>
  </button>
</div>
