<div class="login-page">
  <div class="login-card" [class.shake]="loginError">
    <!-- LOGO / TITLE -->
    <div class="brand">
      <h1>Inventory Portal</h1>
      <p>Smart Inventory Management</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <!-- USERNAME -->
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" autofocus />
      </mat-form-field>

      <!-- PASSWORD -->
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Password</mat-label>

        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
        />

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
        >
          <mat-icon>
            {{ hidePassword ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
      </mat-form-field>

      <!-- ERROR -->
      <div class="error-message" *ngIf="loginError">
        Invalid username or password
      </div>

      <!-- LOGIN BUTTON -->
      <!-- ACTION BUTTONS -->
      <div class="action-buttons">
        <!-- LOGIN -->
        <button
          mat-raised-button
          color="primary"
          class="login-btn"
          type="submit"
          [disabled]="loading"
        >
          <mat-progress-spinner
            *ngIf="loading"
            diameter="20"
            mode="indeterminate"
          ></mat-progress-spinner>

          <span *ngIf="!loading">Login</span>
        </button>

        <!-- SIGN UP -->
        <button
          mat-stroked-button
          color="primary"
          type="button"
          class="signup-btn"
          (click)="goToRegister()"
        >
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>
