<mat-form-field appearance="outline" class="search-select-field">
  <mat-label>{{ label }}</mat-label>

  <mat-select
    panelClass="search-select-panel"
    [formControl]="control"
    (openedChange)="onOpenedChange($event)"
    (selectionChange)="onSelection($event.value)"
  >
    <mat-option class="search-option">
      <ngx-mat-select-search
        [formControl]="searchCtrl"
        placeholderLabel="Search..."
        noEntriesFoundLabel="No matching records"
      >
      </ngx-mat-select-search>
    </mat-option>

    <mat-option *ngFor="let item of filteredItems" [value]="item">
      {{ item[bindLabel] }}
    </mat-option>
  </mat-select>
</mat-form-field>
