<app-page-header title="Products List" subtitle="Manage inventory products">
</app-page-header>

<div class="page-header">
  <button mat-button (click)="goBack()">← Back</button>

  <button mat-raised-button color="primary" (click)="fileInput.click()">
    <mat-icon>upload</mat-icon>
    Export XLSX
  </button>

  <input
    type="file"
    #fileInput
    hidden
    accept=".xlsx,.xls"
    (change)="exportToExcel()"
  />
</div>

<div class="items-view">
  <!-- FILTER -->
  <form [formGroup]="filterForm" class="filter-bar">
    <mat-form-field appearance="outline">
      <mat-label>Search Product</mat-label>
      <input matInput formControlName="search" (keyup)="applyFilter()" />
    </mat-form-field>
  </form>

  <!-- TABLE -->
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- PRODUCT -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>

      <td mat-cell *matCellDef="let r">
        {{ r.name }}
      </td>
    </ng-container>

    <!-- CATEGORY -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>

      <td mat-cell *matCellDef="let r">
        {{ r.category }}
      </td>
    </ng-container>

    <!-- UNIT -->
    <ng-container matColumnDef="unit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit</th>

      <td mat-cell *matCellDef="let r">
        {{ r.unit }}
      </td>
    </ng-container>

    <!-- MIN STOCK -->
    <ng-container matColumnDef="minStock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Min Stock</th>

      <td mat-cell *matCellDef="let r">
        {{ r.minStock }}
      </td>
    </ng-container>

    <!-- STATUS -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>

      <td mat-cell *matCellDef="let r">
        <span *ngIf="r.active" class="active-badge"> Active </span>

        <span *ngIf="!r.active" class="inactive-badge"> Inactive </span>
      </td>
    </ng-container>

    <!-- ACTIONS -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>

      <td mat-cell *matCellDef="let r">
        <button mat-icon-button color="primary" (click)="edit(r)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="delete(r)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20, 50]"
    [pageSize]="10"
    showFirstLastButtons
  ></mat-paginator>
</div>
