<footer class="app-footer">
  <!-- LEFT -->
  <div class="footer-left">
    <div class="footer-logo">
      <mat-icon>inventory_2</mat-icon>
    </div>

    <div>
      <h4>Inventory Portal</h4>
      <p>Smart Inventory Management System</p>
    </div>
  </div>

  <!-- CENTER -->
  <div class="footer-center">
    <div class="footer-badge">
      <mat-icon>verified</mat-icon>
      Secure Enterprise Build
    </div>
  </div>

  <!-- RIGHT -->
  <div class="footer-right">
    <span>© {{ currentYear }} All Rights Reserved</span>
  </div>
</footer>
