<div class="topbar">
  <!-- LEFT -->
  <div class="left">
    <button class="menu-btn" (click)="menuClick()">☰</button>
    <span routerLink="/app/dashboard" class="title">The Airawat Kitchen</span>
  </div>

  <!-- RIGHT -->
  <div class="right">
    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon>
        {{ isDark ? "light_mode" : "dark_mode" }}
      </mat-icon>
    </button>
    <!-- NOTIFICATIONS -->
    <div class="notification" (click)="openNotifications()">
      🔔
      <span class="badge" *ngIf="notificationCount > 0">
        {{ notificationCount }}
      </span>
    </div>

    <!-- PROFILE DROPDOWN -->
    <div class="profile-wrapper" (click)="toggleProfileMenu()">
      <div class="profile">
        <span class="avatar">
          <img
            src="assets/user.png"
            alt="User"
            style="width: 20px; height: 20px"
          />
        </span>
        <span class="name">{{ username }}</span>
        <span class="arrow">▼</span>
      </div>

      <!-- DROPDOWN -->
      <div class="dropdown" *ngIf="showProfileMenu">
        <div class="dropdown-item" (click)="goProfile($event)">Profile</div>

        <!-- <div class="dropdown-item" (click)="goSettings($event)">Settings</div> -->

        <div class="dropdown-item logout" (click)="logout($event)">Logout</div>
      </div>
    </div>
  </div>
</div>
